@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/elvish");

a:hover {
  color: #1f706d;
}

.app {
  display: flex;
}

body {
  background: #0f172a;
  font-family: "Roboto Mono", monospace;
  color: #e2e8f0;
  a {
    color: #e2e8f0;
    text-decoration: none;
  }
}

.wrapper {
  position: sticky;
  top: 10%;
}

.technologies {
  margin-left: -17px;
}

h1 {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.lead {
  font-size: 40px;
  margin-bottom: 20px;
  /* margin-top: -30px; */
}

.description {
  text-align: justify;
}

ul {
  list-style: none;
  li {
    margin-top: 20px;
    margin-block-start: 20px;
  }
}

.btn-download {
  background-color: #ffffff;
  color: #0f172a;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.btn-download:hover {
  background-color: #1f706d;
  color: #faffff;
}

.btn-download:focus {
  background-color: #1f706d;
  color: #faffff;
}

.btn-aboutme:hover {
  background-color: #1f706d;
  color: #faffff;
}

.btn-aboutme:focus {
  background-color: #1f706d;
  color: #faffff;
}

.main {
  p {
    font-size: medium;
  }
  width: 100%;
  scroll-margin-inline-start: -20%;
}

.languages {
  width: 60%;
}

.progress-bar {
  background-color: #1f706d;
  color: #ffffff;
  animation: fillBar 5s forwards;
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: var(--fill-level);
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(to bottom, #031144, #02321d); */
  background: #1f706d;
  border-radius: 10px;
  height: 50px;
}

/* .aboutme {
  margin-top: 20px;
  margin-bottom: 20px;
} */

/* <------------------------MEDIA QUERY CELL E TABLET*--------------------->*/
@media only screen and (min-width: 300px) and (max-width: 932px) {
  .aboutme {
    display: none;
  }

  .technologies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
  }

  .technology-icon {
    margin: 10px;
  }

  .btn-download {
    background-color: #ffffff;
    color: #0f172a;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border: none;
  }
  .btn-aboutme {
    background-color: #ffffff;
    color: #0f172a;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border: none;
    margin-top: unset;
  }

  .btn-download:hover {
    background-color: #1f706d;
    color: #faffff;
  }

  .btn-download:focus {
    background-color: #1f706d;
    color: #faffff;
  }

  .btn-aboutme:hover {
    background-color: #1f706d;
    color: #faffff;
  }

  .btn-aboutme:focus {
    background-color: #1f706d;
    color: #faffff;
  }

  .technologies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    place-items: center;
  }

  @media only screen and (max-width: 600px) {
    .technologies-container {
      flex-direction: row;
    }

    .technologies-grid {
      grid-template-columns: 1fr;
    }
  }

  cite {
    font-size: 20px;
  }

  .blockquote-footer {
    font-size: 20px;
  }

  .wrapper {
    width: 100%;
    position: static;
    font-size: 30%;
    margin-top: 20px;
  }
  .social {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .languages {
    visibility: hidden;
  }

  h4 {
    text-align: center;
    display: none;
  }

  span {
    margin-inline-start: 20px;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1f706d;
  border-radius: 10px;
  height: 50px;
}

/* <------------------------ANIMAZIONI*--------------------->*/
