@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/elvish");

a:hover {
  color: #1f706d;
}

.app {
  display: flex;
}

body {
  background: #0f172a;
  font-family: "Roboto Mono", monospace;
  color: #e2e8f0;
  a {
    color: #e2e8f0;
    text-decoration: none;
  }
}

.wrapper {
  position: fixed;
  top: 10%;
  left: 10%;
}

.technologies {
  margin-left: -17px;
}

h1 {
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.lead {
  font-size: 40px;
  margin-bottom: 20px;
  /* margin-top: -30px; */
}

.description {
  font-size: 20px;
  margin-bottom: 40px;
  /* width: 100%; */
}

ul {
  list-style: none;
  li {
    margin-top: 20px;
    margin-block-start: 20px;
  }
}

.btn-download {
  background-color: #ffffff;
  color: #0f172a;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

.btn-download:hover {
  background-color: #1f706d;
  color: #faffff;
}

.btn-download:focus {
  background-color: #1f706d;
  color: #faffff;
}

.main {
  p {
    font-size: medium;
  }
  width: 100%;
  /* margin-left: 40%; */
}

.languages {
  width: 60%;
}

.progress-bar {
  background-color: #1f706d;
  color: #ffffff;
  animation: fillBar 2s forwards;
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: var(--fill-level);
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* background: linear-gradient(to bottom, #031144, #02321d); */
  background: #1f706d;
  border-radius: 10px;
  height: 50px;
}

/* .aboutme {
  margin-top: 20px;
  margin-bottom: 20px;
} */

/* <------------------------MEDIA QUERY CELL E TABLET*--------------------->*/
@media only screen and (min-width: 300px) and (max-width: 932px) {
  .aboutme {
    display: none;
  }

  .languages h5,
  .technologies h5 {
    font-size: 22px;
  }

  .technologies {
    margin: unset;
    padding: unset;
    justify-content: center;
    align-items: center;
  }

  .container-icon {
    flex-wrap: wrap;
  }

  cite {
    font-size: 20px;
  }

  .blockquote-footer {
    font-size: 20px;
  }

  .wrapper {
    width: 100%;
    position: static;
    font-size: 30%;
    margin-top: 20px;
  }
  .social {
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .languages {
    display: none;
  }

  h4 {
    text-align: center;
    display: none;
  }

  span {
    margin-inline-start: 20px;
  }
}

.out-of-bounds-image {
  position: fixed;
  top: 0;
  left: -5%; /* Sposta l'immagine oltre il bordo sinistro dello schermo */
  z-index: 0;
  width: 20%; /* Puoi regolare la larghezza */
  height: 1000px;
  transform: rotate(-20deg); /* Ruota l'immagine di -20 gradi */
  object-fit: fill;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
